<?xml version="1.0"?>
<model>
  <name>ModularBot_5DOF_A</name>
  <version>0.1</version>
  <sdf version='1.6'>ModularBot_5DOF_A.sdf</sdf>

  <author>
   <name>Edoardo Romiti</name>
   <email>edoardo.romiti@iit.it</email>
  </author>

  <description>
    Simulation of the Alberobotics's ModularBot_5DOF_A.
  </description>
</model>
